:root{
    --dark-blue:#28293E;
    --brown-light:#FDF0E9;
    --orange: #EF6D58;
    --Text-dark:#391400;
    --dark-gray: #391400A3;
    --text-light:#FFFFFF;
    --light-gray:#FFFFFFA3;
}



.maincontainer{
    width:100vw;
    position: relative;
}

*{
     font-family:'Epilogue';
    box-sizing: border-box;
}

body{
       
    margin: 0;
    padding: 0;
}

.main{
    width:100vw;
    position: relative;
    height:100vh;
    background-color:var(--dark-blue);
}

/* nav bar  */

.navbar{
    width:100vw;
    padding-top:10px;
    padding:0 8.5vw;
    z-index: 999;
    height:70px;
    background-color: var(--dark-blue);
    margin:0 auto;
    position:fixed;
}

.navbar ul{
    gap:2vw;
    list-style:none;
    
}

.navbar .menu{
    display:none;
}

.navbar .logo{
    width:10vw; 
}



.navbar ul li a{
    color:white;
    font-family:'Epilogue';
    text-transform:uppercase;
    text-decoration:none;
    font-size:1.9vw;
    font-weight:200;
}

/* side bar */


.sidebar{
    width:250px;
    height: 100vh;
    transition: 1s;
    position: fixed;
    font-size: 3vh;
    font-family:'Epilogue';
    z-index:999;
    top:0;
   padding:0 25px;
   display: none;
   padding-top:25px;
    background-color: #391400;
    right:0;
}

.sidebar-text{
    text-decoration:none;
    color:white;
    font-family:'Epilogue';
    text-transform: uppercase;
    font-weight:600;
    font-size:3vh;
    padding:21px 30px;
    display:block;
    border-bottom:1px solid gray;
}



/* hero section begins */

.hero{
    width:80%;
    margin: 0 auto;
    padding-top:6vh;
    position: relative;
    gap:10px;
}

.left{
    width:100%;
 
  
    
}

.left h1{
    font-family: 'Epilogue';
    text-transform: uppercase;
    font-size:4vw;
    line-height:4vw;
    font-weight:900;
    color:white;
    letter-spacing:0.2vw;
}

.left p {
    
    width: 100%;
    color: #FFFFFF;
    line-height: 2.1vw;
    letter-spacing: 0.3vw;
    font-size:1.5vw;
    font-family: 'Epilogue';
    font-weight: 400;
}

.left button{
    text-transform: uppercase;
    width:200px;
    margin-top:3vh;
    font-family:'Epilogue' ;
    font-weight:400;
    padding:17px 10px;
    border:none;
    font-size:1em;
    border-radius: 6px;
    background-color: #FDF0E9;
    color:#391400;
}

.right{
    width:100%;
    padding-top:10vh;
    justify-content: flex-end;
    align-items: flex-end;
}

.right .pic{
   max-width: 100%;
    height:70vh;
}

/* About section */

.about-section{
    width:100vw;
    padding-bottom: 10vh;
    background-color: var(--brown-light);
}

.about{
    width:80%;
    padding-top: 10vh;
    margin:0 auto;
    
    

}

.pic2{
    width:100%;
    height:85vh;
}

.about-left{
    width:50%;

}

.about-right{
    padding-left:5vw;
    padding-top:5vh;;
    width:50%;
}

.about-right h1{
    /* width:100%; */
    font-family:'Epilogue' ;
    font-weight:800;
    letter-spacing: 0.4vw;
    font-size:3vw;
    text-transform: uppercase;
    color: var(--Text-dark);
}

.about-right p{
    font-size:1.9vw;
    font-family:'Epilogue ';
    font-weight:400;
    line-height: 1;
    color:var(--dark-gray);
}

.about-right button{
    width:200px;
    margin-top:3vh;
    text-transform: uppercase;
    font-family:'Epilogue' ;
    font-weight:400;
    padding:17px 10px;
    border:none;
    font-size:1.2em;
    box-shadow: 2px 2px 10px gray;
    border-radius: 6px;
    background-color: white;
    color:#391400;
}

/* services section */

.service-section{
    width:100vw;
    position: relative;
    background-color: #28293E;
}

.service{
    width:80%;
    padding-top:2vh;
    margin:0 auto;
}


.service-cards{
    width:100%;
    padding-bottom: 10vh;
    height:auto;
}

.service h1{
    font-family:"Epilogue" ;
    font-size:5vw;
    text-transform: uppercase;
    text-align:center;
    color:#FFFFFF;
    font-weight:800;
    letter-spacing: 0.5vw;

}

.card{
    display:flex;
    padding: 5vh 2.5vw;
    background-color:var(--brown-light);
    justify-content: center;
    border:1px solid gray;
    margin-top:7vh;
    border-radius:10px;
    align-items: center;
    overflow:hidden;
    gap:3vw;
}

.card img{
    height:35vh;
}

.card-details h3{
    font-family:"Epilogue" ;
    font-size:2vw;
    text-transform: uppercase;
    color:var(--Text-dark);
    font-weight:600;
    letter-spacing: 0.3;
}

.card-details p{
    font-family: "Epilogue";
    font-weight:500;
    line-height: 1.2;
    font-size:1vw;
    color: var(--dark-gray);
}

/* contact-form section */


 .contact{
    width:100vw;
    position: relative;
    padding-top: 7vh;
    flex-direction: column;
    padding-bottom: 10vh;
    background-color: var(--brown-light);

 }

 .contact h2{
    text-transform: uppercase;
    font-family:"Epilogue" ;
    font-weight:700;
    font-size:3vw;
    color: var(--Text-dark);
 }

 .contact-form{
    width:50%;
    background-color: ivory;
    padding: 10vh 10vw;
    flex-direction: column;
    box-shadow: 4px 4px 15px var(--dark-gray);
    border-radius: 10px;
 }

.form{
    gap:3vh;

}

.input{
    font-family: 'Epilogue';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2vh;
    padding: 2vh 1vw;
    border: 1px solid #F3D1BF;
    border-radius: 5px;
    color: #391400;
}

.message{
    font-family: 'Epilogue';
    font-weight: 300;
    font-size: 2.6vh;
    height:10vh;
    overflow: hidden;
    border: 1px solid #F3D1BF;
    border-radius: 5px;
    padding: 3%;
    color:var(--dark-gray);
}

.form button{
     font-family: 'Epilogue';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 3vh;
    padding: 2vh 3vw;
    border-radius: 5px;
    border:none;
    color:var(--text-light);
    background-color: #EF6D58;
}

/* footer section */

.footer-section{
    width:100vw;
    background-color: var(--text-light);
    padding-top: 4vh;
}

.footer{
    width:80%;
}

.footer h5{
    font-family: "Epilogue";
    font-size: 1vw;
    text-align: center;
    font-weight: 600;
}

.icon{
   height: 7vh;
    width: 4vw;
    border-radius: 50%;
    background-color: #EF6D58;

}

.icon img{
    height: 3vh;
}

.icons{
    display:flex;
    gap :1vw;
}


































/* media query  */

@media (max-width:600px){

    

    
    .navbar{
        
        height:100px;

    }

    .navbar .logo{
        width:15vw;
    }

    .navbar ul{
        display:none;
    }

    .navbar .menu{
        display:block;
        cursor: pointer;
    }

    .sidebar{
        display:none;
    }

    

    .hero{
       flex-direction: column-reverse;
        padding: 0;
        
        
    }

    .left{
        width:100%;
        height:50%;
        margin:-10vh;
    }

    .left h1 {
        font-size: 7vw;
        line-height: 1;
    }

    .left p{
        font-size:3vw;
        line-height: 1.2;
    }

    

    .right{
       padding-top: 3vh;
        width: 100%;
        height: 50%;
    }
/* about section */

    .about{
        display:flex;
        flex-direction: column-reverse;
        gap:4vh;
        padding-top: 0;
    
        
        
    }

    .pic2{
        width:100%;
        height:45vh;
    }

    .about-left{
        width:100%;
        padding: 0%;
        height:50vh;
    }

    .about-right h1{
        font-size:9vw;
    }

    .about-right button{
        margin:0;
    }

    .about-right p{
        font-size:5vw;
        line-height:1.1;
    }

    .about-right{
        width:100%;
        padding-left:0;
        height:50vh;
    }
        
    /* services section */
    .card{
        width:100%;
        flex-direction: column;
        gap:0;
        padding:3vh 10vw;

    }

    .card img{
        width:100%;
        height:32vh;
    }

    .card-details h3{
        font-size:3vw;

    }

    .card-details p{
        font-size:1.4vh;
    }

    .branding{
        padding-top:1vh;
        padding-bottom: 2vh;
    }

    /* contact form */

    .contact-form{
        width:80%;
        padding-top:5vh;
        padding-bottom: 5vh;
        border-radius: 2vw;
        box-shadow: 4px 4px 15px var(--dark-gray);

    }

    .contact h2{
        font-size: 6vw;
    }

    /* footer */

    .icon{
        width:10vw;
    }

    .footer{
        flex-direction: column;
    }

    .footer h5{
        font-size: 2vw;
       
    }

    .icons{
        justify-content: center;
        gap:2vw;
        padding: 3vh;
    }












}

